<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <client>      
      <endpoint address="http://localhost:8080/ProcessService" binding="basicHttpBinding" contract="ProLINK.Data.IProcess"></endpoint>
      <endpoint name="IIS_IProcess" address="http://localhost/PPWCFTest/ProcessService.svc" binding="basicHttpBinding" contract="ProLINK.Data.IProcess"></endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding sendTimeout="00:20:00" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>